* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    margin: auto;
}

.row {
    display: flex;
}

header {
    background-color: whitesmoke;
    width: 100%;
    z-index: 1;
    position: relative;
    top: 0;
    position: fixed;

    .container {
        align-items: center;

        .row {
            justify-content: center;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 20px;
            justify-content: space-evenly;
            align-items: center;

            li {
                text-transform: capitalize;
                font-family: Georgia, 'Times New Roman', Times, serif;

                a {
                    color: black;
                    text-decoration: none;
                }
            }

            img {
                height: 50px;
                mix-blend-mode: color-burn;
            }
        }
    }

}

.hero {
    background-color: rgb(239, 234, 234);
    min-height: 570px;
    width: 100%;

    .content {
        width: 100%;
        position: relative;
        top: 60px;

        strong {
            color: black;
            font-weight: 900;
        }

        pre {
            position: absolute;
            top: 100px;
            left: 50px;
            font-size: 50px;
            font-weight: bold;
            color: gray;
        }

        .row {
            width: 100%;
            position: absolute;
            top: 300px;
            justify-content: space-evenly;

            .card {
                width: 150px;
                padding: 10px;

                img {
                    border-radius: 5px;
                    width: 100%;
                    height: 90px;
                    mix-blend-mode: darken;
                }

                p {
                    text-align: center;
                    text-transform: capitalize;
                }
            }
        }
    }

}

.content {
    margin: 50px 0;

    .row {
        padding: 5px 80px;
        gap: 20px;
        .cards {
            position: relative;
            padding: 0 30px;

            h2 {
                position: absolute;
                top: 100px;
                font-size: 28px;
            }

            p {
                position: absolute;
                top: 150px;
                font-size: 18px;
            }

            &:nth-child(1) {
                background-image: url("images/c1.jpeg");
            }
            
            &:nth-child(2) {
                background-image: url("images/c2.jpeg");
                color: white;

                p {
                    &:nth-child(2) {
                        top: 150px;
                        background: -webkit-linear-gradient(blue, purple, pink, orange);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    &:nth-child(3) {
                        top: 180px;
                        background-position: center;
                    }
                }
            }
            
            &:nth-child(3) {
                background-image: url("images/p3.jpeg");
                color: white;

                p {
                    &:nth-child(2) {
                        top: 150px;
                        background: -webkit-linear-gradient(blue, purple, pink, orange);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    &:nth-child(3) {
                        top: 180px;
                        background-position: center;
                    }
                }
            }

            background-size: cover;
            background-position: bottom;
            width: 30%;
            height: 560px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
}

footer {
    margin: 20px 0;
    padding: 50px;
    background-color: whitesmoke;

    .row {
        justify-content: space-evenly;

        .w-25 {
            width: 25%;

            ul {
                margin: 10px 0;
                text-transform: capitalize;
                font-family: cursive;
                list-style: none;

                li {
                    &:first-child {
                        color: black;
                        font-weight: 600;
                    }

                    color: gray;
                }
            }
        }
    }
}


@media (max-width:576px) {
    header {
        position: static;
        background-color: white;

        ul {
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }
    }

    .hero {
        height: 700px;
        width: 100%;
    }
    
    .hero pre {
        text-align: center;
        font-size: 20px!important;
    }
    
    .hero .row {
        flex-wrap: wrap!important;
        justify-content: center;
    }
    
    .hero .row .card {
        width: 450px;
    }
    
    
    .content{
        .row{
            flex-direction: column;
            justify-content: center;
            .cards{
                width: 100%;
            }
        }
    }

    footer {
        .row {
            flex-direction: column;
            text-align: center;
            justify-content: center;

            .w-25 {
                width: 100%;
            }
        }
    }
}
/* commm */